@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.title {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}
p {
    text-align: center;
}
.footer-made {
    font-family: 'Orbitron', sans-serif;
}
section.contact {
    font-family: 'Orbitron',sans-serif;
    text-align: center;
}
section.form {
    display: flex;
    flex-direction: column;
}
section.div {
    display: flex;
    gap: 10px;
    align-items: center;
}
label {
    text-align: right;
}
#description {
    width: 500px;
    height: 100px;
}
body {
    background: linear-gradient(0.25turn, #5dc5e3, #89CFF0, #F0FFFF);
    align-items: center;
    position: relative;
}