<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Yanis CRISOSTOMO</title>
    <link rel="stylesheet" href="style.css">
    <script href="script.js"></script>
</head>
<body>
    <h1 class="title">Yanis Crisostomo</h1>
    <h2 class="title">Étudiant en développement</h2>
    <section class="contact">
        <form action="" method="GET" class="contact">
            <div class="first-name">
                <label for="first-name">Enter your first name</label>
                <input type="text" name="first-name" id="first-name" required/>
            </div>
            <div class="last-name">
                <label for="last-name">Enter your last name</label>
                <input type="text" name="last-name" id="last-name" required/>
            </div>
            <div class="email">
                <label for="email">Enter your email adress</label>
                <input type="email" name="email" id="email" required/>
            </div>
            <div class="description">
                <label for="description">Describe what you need</label>
                <input type="text" name="description" id="description" required/>
            </div>
        </form>
    </section>
</body>
<footer>
    <p class="footer-made">Made by Yanis CRISOSTOMO.</p>
</footer>
</html>