<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yanis CRISOSTOMO</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="script.js"></script>
</head>
<body>
    <h1 class="title">Yanis Crisostomo</h1>
    <h2 class="title">Web development student</h2>
    <section class="contact">
        <p class="contact"><b>Contact me</b></p>
        <form action="" method="post" class="contact">
            <div class="first-name">
                <input type="text" name="first-name" id="first-name" placeholder="First name" required/>
            </div>
            <div class="last-name">
                <input type="text" name="last-name" id="last-name" placeholder="Last name" required/>
            </div>
            <div class="email">
                <input type="email" name="email" id="email" placeholder="Email" required/>
            </div>
            <div class="description">
                <input type="text" name="description" id="description" placeholder="Description" required/>
            </div>
            <button class="submit" onmouseover="animateButton(this)">Submit</button>
        </form>
    </section>
    <footer>
    <p class="footer-made">Made by Yanis CRISOSTOMO.</p>
    </footer>
</body>

</html>